.screen-div {
    background-color: hsl(224, 36%, 15%);
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.screen-output {
    margin: 0;
    color: #fff;
    font-size: 28px;
}
