body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  background-color: hsl(222, 26%, 31%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: 'Spartan', sans-serif;
}
